#extensions
*.o
*.lo
*.la
*.mo
*.gmo
*.docbook
*.stamp
*.xml
*.log
*.pc
*.pot
*.conf
*cache

#files
Makefile*
Doxyfile
nemiver
nemiver.desktop
compile
configure
depcomp
libtool
missing
test-driver
POTFILES
install-sh
ltmain.sh
po/stamp-it
stamp-h1

#folders
.deps
.libs

# copied m4 files
aclocal.m4
intltool.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4

# generated in files
intltool-extract.in
intltool-merge.in
intltool-update.in
config.h.in*

# tests
tests/bigvar
tests/docore
tests/dostackoverflow
tests/fooprog
tests/forkchild
tests/forkparent
tests/gtkmmtest
tests/inout
tests/localsinmiddle
tests/pointerderef
tests/prettyprint
tests/runtestcore
tests/runteststdout
tests/templatedvar
tests/threads

# config
config.guess
config.h
config.status
config.sub
